#fundo {
  background-color: #ebebeb;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: #efefef;
  z-index: 1000;
  box-sizing: border-box;
}

.logo {
  margin-left: 4rem;
}

.logo h2 {
  color: #724334;
  font-family: 'Abril Fatface', serif;
}

header ul {
  display: flex;
  list-style-type: none;
  gap: 10px;
  margin-top: 13px;
  margin-right: 4rem;
}


#menu li a {
  color: #724334;
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: 500;
}

#menu li a:hover {
  background-color: #fff;
  color: brown;
}

#menu li .botao1 {
  background-color: #724334;
  color: #fff;
}

#btn-responsivo {
  display: none;
}

section {
  min-height: calc(100vh - 100px);
}

#login {
  display: flex;
  position: absolute;
  justify-content: left;
}

p {
  color: #78452a;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-family: 'Abril Fatface', serif;
}

.radio {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 5px;
}

input[type="conta"] {
  background-color: #78452a;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
}

form {
  border-radius: 20px;
  border: 1px solid #ee8f2f;
  padding: 20px;
  margin-bottom: 5px;
  border-radius: 5px;
  color: #78452a;
  width: 400px;
  height: 100%;
}

.form-group {
  margin-bottom: 10px;
}



input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="password"] textarea {
  width: 90%;
  padding: 8px;
  border: 1px solid #ee8f2f;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #ee8f2f;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #724334;
  color: #fff;
  display: flex;
  font-weight: 200;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;

}

footer ul {
  width: 30%;
  list-style-type: none;
}

footer li a {
  width: 33%;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
}

footer li a:hover {
  text-decoration: underline;
}

.logo-footer {
  width: 30%;
  display: flex;
  align-items: center;
}

.logo-footer img {
  width: 150px;
  margin-bottom: 20px;
  margin-left: 4rem;
}


@media screen and (max-width: 550px) {
  #btn-responsivo {
    margin-right: 1rem;
    display: none;
  }
}

@media screen and (min-width: 320px) {
  body {
    font-size: 80%;
  }
}

.logo-footer img {
  margin-left: 0;
}

.logo-footer {
  width: 40%;
  justify-content: center;
}

@media (max-width: 600px) {
  .radio {
    width: 200px;
    height: 150px;
    margin: 10px;
    padding: 5px;
  }
}

@media (max-width: 600px) {
  .form-group {
    width: 200px;
    height: 150px;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 768px) and (max-width:834.9px) {

  #menu li {
    font-size: 1.2rem;
    margin-top: .7rem;
  }

  #btn-responsivo {
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    margin-right: 4rem;
  }

  .hamburger {
    color: #000;
    border-top: 2px solid;
    width: 20px;
  }


  .hamburger::after,
  .hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    margin-top: 5px;
    background: currentColor;
    transition: .3s;
    position: relative;
  }

  #menu.active .hamburger {
    border-top-color: transparent;
  }

  #menu.active .hamburger::before {
    transform: rotate(135deg);
  }

  #menu.active .hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  #menu.active ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    visibility: visible;
    overflow-y: auto;
    z-index: 1000;
  }


  #menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    top: 58px;
    right: 0;
    left: 0;
    height: 0px;
    background-color: #efefef;
    color: #724334;
    transition: .6s ease;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
  }

  #formulario div {
    margin-left: 25%;
  }

  .form-group {
    width: 70%;
    font-size: 20px;
    margin-right: 25%;

  }

  .form-group {
    text-align: left;
    margin-left: 5%;
  }
}

@media (max-width: 600px) {
  li {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width:834.9px) {

  #menu li {
      font-size: 1.2rem;
      margin-top: .7rem;
  }
  
  #btn-responsivo {
      display: flex;
      padding: .5rem 1rem;
      font-size: 1rem;
      border: none;
      background: none;
      cursor: pointer;
      margin-right: 4rem;
  }

  .hamburger {
      color: #000;
      border-top: 2px solid;
      width: 20px;
  }


  .hamburger::after,
  .hamburger::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      margin-top: 5px;
      background: currentColor;
      transition: .3s;
      position: relative;
  }

  #menu.active .hamburger {
     border-top-color: transparent;
  }

  #menu.active .hamburger::before {
      transform: rotate(135deg);
  }

  #menu.active .hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
  }

  #menu.active ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 50%;
      visibility: visible;
      overflow-y: auto;
      z-index: 1000;
  }


  #menu ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
      position: absolute;
      width: 100%;
      top: 58px;
      right: 0;
      left: 0;
      height: 0px;
      background-color: #efefef;
      color: #724334;
      transition: .6s ease;
      z-index: 1000;
      visibility: hidden;
      overflow-y: hidden;
  }

  #formulario div {
      margin-left: 25%;
   }

   .paragrafo {
      width: 70%;
      font-size: 20px;
      margin-right: 25%;        
  
}

.paragrafo2 {
  text-align: left;
  margin-left: 5%;
}

}

